
/*Change the font style on the Entire Document */
@font-face{
  font-family: TW;
  src: url(../fonts/TitilliumWeb-SemiBold.ttf);
}

@font-face{
  font-family: NS;
  src: url(../fonts/NotoSans-Regular.ttf);
}

@font-face{
  font-family: Times;
  src: url(../fonts/times.ttf)
}

h1 {
	font-family: TW;
}


.normal {
	font-family: NS;
	text-decoration:none;
}

a.normal:link {color: black;}

a.normal:visited {color: black;}

a.normal:hover {color: blue;}


nav {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	font-family: TW;
	font-size: 130%;
	list-style-type: none;
}

nav li {
	float: left;
	width: 20%;
	margin: 0 0 0 0;
    text-align: center;
    }

nav li a {
	display: block;
	box-sizing: border-box;
	padding: 10px;
	background-color: #205849;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	text-decoration: none;
}

nav li a:link {color: white;}

nav li a:visited {color: white;}

nav li a:hover {background-color: #418571;}

nav li a:active {background-color: #418571;}

a:link {color: black;}

a:visited {color: black;}


p {
	font-family: NS;
	margin: 30px;
	font-size: 120%;
}

ul{
	font-family: NS;
	font-size: 100%;
	list-style-type: none;
}

li {
    margin: 0 0 10px 0;
}

i.ipa {
	font-family: Times;
	font-family: serif;
	font-style: normal;
	font-weight: normal;
}

